[user]
        name = Thomas van Vliet
        email = git@thomasvanvliet.net
        signingkey = 1F4F9A04A25FEAB6
[commit]
        gpgsign = true
[core]
        editor = nvim

# rewrite all https links to github remotes to ssh
[url "git@github.com:"]
        insteadOf = https://github.com/

